@charset "UTF-8"; 

:root{
    --cor0: #c5c5c5;
    --cor1: #1C92F4;
    --cor2: #5A5D6C;
    --cor3: #323544;
    --cor4: #272B37;

   
}
#header {
    color: white;
    
}
.logo{
    font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
}
body{
    background-color: var(--cor4);
    color: white;
}
h2{
    display: block;
    margin: 20px auto;
}
main{
    display: block;
    margin: 20px auto;
    background-color: var(--cor3);
    max-width: 800px;
    box-shadow: 1px 3px 5px black;
    padding: 20px
    ;
    
}
.titulo{
    display: block;
    margin: auto;
    padding: 10px;
}
input{
    background-color: var(--cor2);
    border-radius: 10px;
    width: 500px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font: 12px verdana, arial, sans-serif;
 }
 .btn-save{
    width: 50px;
    height: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--cor1);
 }
 .btn-back{
    width: 50px;
    height: 20px;
    color: white;
    border-radius: 10px;
    background-color: red;

 }
 .conteudo{
    display: block;
    margin: 20px auto;
 }