@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #D0D0D0;
    --cor2: #ECE2E3;
    --cor3: #F2F2F2;
    --cor4: #171719;

    --fonte-secundaria: ;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Fenix", serif;
    background-color: var(--cor3);
}

header{background-color: var(--cor2); 
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
header p{
    text-align: center;
    font-size: 50px;
}

.card{
    background-color: aliceblue;
    padding: 10px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    max-width: 800px;
    
    display: flex; /* foto */
    justify-content: flex-start; /*foto*/

    justify-content: space-around;

}
.card p{
    font-size: 24px;
    word-spacing:10px;
    
}
.container-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto{
    margin-top: 50px;
    width: 150px;
    height: 150px;
}
button{
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.foto:hover  {
    animation: girar 4s linear infinite; /* Aplica a animação girar */
}

@keyframes girar {
    from {
        transform: rotate(0deg); /* Inicia a rotação a 0 graus */
    }
    to {
        transform: rotate(360deg); /* Termina a rotação em 360 graus (uma volta completa) */
    }
}

.login{
    border: 1px solid black;
    width: 250px;
    height: 250px;
    padding: 40px 20px 30px 20px ;
    font-size: 24px;
}

.esconder{
    position: relative;
}

.verso, .frente {
    background-color: pink;
    position: relative;
}

.hide{
    display: none;
}





